<header>
    <h3>Clienti</h3>
</header>
<!-- user profiles -->
<!-- <input mat-line type="text" class="form-control search with-text-below input-icon-right" placeholder=" REGO, CLAIM NO, OWNER NAME, MOBILE" name="searchtext" [(ngModel)]="searchText"> -->
<mat-input-container>
    <input name="searchtext" [(ngModel)]="searchText" placeholder="Filtra per Nome, Città, Provincia" matInput type="text">
</mat-input-container>
<!-- <mat-input-container *ngIf="online">
    <input name="searchBrand" [(ngModel)]="searchBrand" placeholder="Search by Brand" matInput type="text">
    <button (click)="getCustomerSearchByBrand()" mat-raised-button color="primary">Search by Brand</button>
</mat-input-container> -->

<div>

    <mat-form-field>
        <input type="text" placeholder="Filtra per Brand" matInput [matAutocomplete]="auto" [(ngModel)]="searchBrand">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="getCustomerSearchByBrand($event, option)" *ngFor="let option of brands.all" [value]="option">
            {{ option }}
        </mat-option>
    </mat-autocomplete>
</div>


<div *ngIf="customers.length>0">
    <mat-card *ngFor='let customer of (customers|customerSearch:[searchText, searchBrand,filtertotalItems])' class="fx fx-ai-c" (click)="customerDetails(customer.id)">
        <div class="fx-fg1">
            <h4>{{customer.doc.name}}</h4>
            <h5>{{customer.doc.shopName}} </h5>
            <div class="fx fx-ai-fe">
                <div class="fx-fg1 brand-qty">
                    <div>  
                        <i class="fa fa-phone"></i> <a href="tel:{{customer.doc.phone}}">{{customer.doc.phone}}</a>
                        <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?q={{customer.doc.address}} {{customer.doc.zipCode}} {{customer.doc.city}}"> {{customer.doc.address}} - {{customer.doc.city}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="goto-article-arrow"> <i class="fa fa-caret-right"></i> </div>
    </mat-card>
</div>


<!-- <div *ngIf="customersJson.customers.length>0">    
        <mat-card>
            <h3>Customer Pending Articles</h3>
            <div *ngFor="let customer of customersJson.customers">
                <h5>Customer Name: {{ customer.name }}</h5>
                <div *ngFor="let article of customer.pendingArticles">
                    <span> Article Code : {{ article.artCode }}</span>
                     <br>
                    <span> Quantity :{{ article.qty }}</span>
                </div>
            </div>    
        </mat-card>    
</div> -->