mat-card{
    cursor: pointer;
	margin: 0 2px 8px 2px;
}

mat-card:hover{
	background-color: #efefef;
}

mat-card h4{
	margin: 5px 0;
}

mat-card .line{
	font-size: 0.8em;
	display: block;
}

.input-large{
	width: 100%;
}

.chip{
	line-height: 30px;
	padding: 2px 10px;
	border-radius: 8px;
	font-size: 12px
}

.chip-orange{
	background-color: #F9A03F;
}
.chip-beige{
	background-color: #D7CEB2;
}
.chip-green{
	background-color: #B5CBB7;
}