<header>
    <h3>Ordini</h3>
</header>

<mat-tab-group>

    <mat-tab label="Offline">
        <div *ngIf="orders.length>0">
            <mat-card  *ngFor='let order of orders' class="fx fx-ai-c mat-card"  (click)="orderDetails(order.id, false)">
                <div class="fx-fg1">
                    <h4 mat-line> {{order.doc.customerName}} ({{order.doc.riferimentoMagnolia}})
                        <span *ngIf="(order.doc.state == 'PENDING')"  class="chip chip-orange" >In attesa</span>
                        <span *ngIf="(order.doc.state == 'PARTIALLY COMPLETED')" class="chip chip-beige">Parzialmente evaso</span>
                        <span *ngIf="(order.doc.state == 'COMPLETED')" class="chip chip-green">Evaso</span>
                    </h4>
                    

                    <span class="line">Data: {{order.doc.movimentoDate |date:'dd/MM/yyyy'}}</span>
                    <span class="line">Articoli ordinati: {{order.doc.qtyOrderedTotal}}</span>
                    <span class="line">Articoli fatturati: {{order.doc.qtyFatturatoTotal}}</span>
                    <span class="line">Totale fatturato: {{order.doc.total}} &euro;</span>
                </div>
                <div class="goto-article-arrow"> <i class="fa fa-caret-right"></i> </div>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Ricerca online">
        <mat-form-field class="input-large">
           <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="customerAutocomplete" 
                [matAutocomplete]="customerAutoCom" [(ngModel)]='selectedCustomer'>
       </mat-form-field>
       <mat-autocomplete #customerAutoCom="matAutocomplete" [displayWith]="autocompleteDisplayCustomerName">
            <mat-option *ngFor="let cust of customersAutocompleteFilteredOptions | async" [value]="cust"> 
                    {{cust.doc.name}}
            </mat-option>
      </mat-autocomplete>



        <mat-form-field>
            <mat-select placeholder="Stato ordine" name="status" [(ngModel)]="selectedStatus">
                <mat-option value="ALL">TUTTI</mat-option>
                <mat-option value="SHIPPED">Completamente evasi</mat-option>
                <mat-option value="PARTIALLY SHIPPED">Parzialmente evasi</mat-option>
                <mat-option value="NOT SHIPPED">Nessun articolo evaso</mat-option>

            </mat-select>
        </mat-form-field>

        <div>

            <mat-form-field>
                <input type="text" placeholder="Cerca per brand" matInput [matAutocomplete]="auto" [(ngModel)]='selectedBrand'>
                <mat-autocomplete #auto="matAutocomplete">

                    <mat-option value="ALL">TUTTI</mat-option>
                    <mat-option *ngFor="let brand of brands.all"  [value]="brand.brandId">
                        {{ brand.brandName }}
                    </mat-option>
<!--                     <mat-option (onSelectionChange)="selectBrand($event, 'ALL')" value="ALL">TUTTI</mat-option>
                    <mat-option *ngFor="let brand of brands.all"  (onSelectionChange)="selectBrand($event, brand)" [value]="brand.brandId">
                        {{ brand.brandName }}
                    </mat-option> -->
                </mat-autocomplete>
            </mat-form-field>

<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <span>{{ state.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

 -->
        </div>
        <mat-form-field>
            <input matInput [(ngModel)]="startDate" name="startDate" [matDatepicker]="picker1" placeholder="Data inizio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="endDate" name="endDate" [matDatepicker]="picker" placeholder="Data fine">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button (click)="searchOrders()" mat-raised-button color="primary">Cerca</button>

        <h4 innerHTML="{{searchTitleHtml}}"></h4>

        <div *ngIf="ordersOnline.length>0">
            <mat-list>
<!--                 <mat-card  *ngFor='let order of ordersOnline' class="fx fx-ai-c mat-card"  (click)="orderDetails(order.id)">
                    <div class="fx-fg1">
                        <h4 mat-line> {{order.name}} ({{order.riferimentoMagnolia}})</h4>
                        <span class="line">Data: {{order.movimentoDate |date:'dd/MM/yyyy'}}</span>
                        <span class="line">Articoli ordinati: {{order.qtyOrdered}}</span>
                        <span class="line">Articoli evasi: {{order.qtyShipped}}</span>
                        <span class="line">Totale: {{order.total}} &euro;</span>
                    </div>
                    <div class="goto-article-arrow"> <i class="fa fa-caret-right"></i> </div>
                </mat-card>
 -->

                <mat-card  *ngFor='let order of ordersOnline' class="fx fx-ai-c mat-card"  (click)="orderDetails(order.riferimentoMagnolia, true)">
                    <div class="fx-fg1">
                        <h4 mat-line> {{order.name}} ({{order.riferimentoMagnolia}})
                            <span *ngIf="(order.state == 'PENDING')"  class="chip chip-orange" >In attesa</span>
                            <span *ngIf="(order.state == 'PARTIALLY COMPLETED')" class="chip chip-beige">Parzialmente evaso</span>
                            <span *ngIf="(order.state == 'COMPLETED')" class="chip chip-green">Evaso</span>
                        </h4>
                        

                        <span class="line">Data: {{order.impegnoDate |date:'dd/MM/yyyy'}}</span>
                        <span class="line">Articoli ordinati: {{order.totalQtyOrdered}}</span>
                        <span class="line">Articoli fatturati: {{order.totalQtyFatturato}}</span>
                        <span class="line">Totale fatturato: {{order.totalFatturato}} &euro;</span>
                    </div>
                    <div class="goto-article-arrow"> <i class="fa fa-caret-right"></i> </div>
                </mat-card>
            </mat-list>
         </div>
    </mat-tab>

</mat-tab-group>