<header>
    <h3>Dettagli cliente</h3>
</header>
<div class="main-obj-list">
    <mat-card>
        <mat-card-content>
            <h3 matLine> {{customer.doc.name}} </h3>
            <div> <strong>Nome punto vendita:</strong> {{customer.doc.shopName}} </div>
            <div matLine> Email: {{customer.doc.email}} </div>
            <div matLine> PIVA: {{customer.doc.VAT}} </div>
            <div matLine> Città: {{customer.doc.city}} </div>
            <div matLine> Provincia: {{customer.doc.province}} </div>
            <div matLine> CAP: {{customer.doc.zipCode}} </div>
            <div matLine> URL: {{customer.doc.url}} </div>
            <div matLine> IBAN: {{customer.doc.iban}} </div>
            <div matLine> Cliente dal {{customer.doc.customerSince |date:'dd/MM/yyyy'}} </div>
            <div matLine>
                <i class="fa fa-phone"></i> <a href="tel:{{customer.doc.phone}}">{{customer.doc.phone}}</a>
            </div>
            <div matLine>
                <i class="fa fa-map-marker"></i> <a href="http://maps.google.com/maps?q={{customer.doc.address}} {{customer.doc.zipCode}} {{customer.doc.city}}">{{customer.doc.address}} - {{customer.doc.city}}</a>
            </div>

        </mat-card-content>

    </mat-card>

    <div class="actions">
        <a href="mailto:{{customer.doc.email}}" mat-raised-button color="primary" class="full-w-btn">
            <i class="fa fa-envelope"></i> Invia email ({{customer.doc.email}})
        </a>
        <a href="tel:{{customer.doc.phone}}" mat-raised-button color="primary" class="full-w-btn">
            <i class="fa fa-phone"></i> Telefona ({{customer.doc.phone}})
        </a>
        <a href="http://maps.google.com/maps?q={{customer.doc.address}} {{customer.doc.city}}" target="_blank" mat-raised-button color="primary" class="full-w-btn">
            <i class="fa fa-map-marker"></i> Naviga ({{customer.doc.address}} - {{customer.doc.city}})
        </a>
    </div>


    
    <mat-card>
     <h5>Statistiche di acquisto per brand </h5>

     <div *ngIf="statisticsObj.error">
        impossibile caricare i dati
      </div>


      <div *ngIf="statisticsObj.emptyResponse">
          Nessun fatturato
      </div>

     <div *ngIf="statisticsObj.statistics.length>0">

       <table class="table table-striped table-bordered minimalistBlack">
         <thead>
           <tr>
             <th>Brand</th>
             <ng-container *ngFor="let year of statisticsObj.years">
               <th>{{ year }}</th>
             </ng-container>
           </tr>
         </thead>
         <tbody>
           <ng-container *ngFor="let stat of statisticsObj.statistics">
             <tr>
               <td><strong>{{stat.brand}}</strong></td>

                <ng-container *ngFor="let year of statisticsObj.years">
                  <td>&euro; {{stat.orders[year].amount}}</td>
                </ng-container>
             </tr>
           </ng-container>
         </tbody>
       </table>
     </div>

   </mat-card>

</div>