<div *ngIf="loading">
    <img src="/assets/images/preloader.gif">
    <strong>caricamento...</strong>
</div>

<div *ngIf="order">
    <h2>Ordine - {{ order.customerName }}</h2>
    <p>Data: {{order.movimentoDate | date:'dd/MM/yyyy'}}</p>
    <p>Riferimento Magnolia: {{order.riferimentoMagnolia}}</p>
    <p>Totale articoli: {{order.qtyOrderedTotal}}</p>
    <p>Totale articoli fatturati: {{order.qtyFatturatoTotal}}</p>
    <!-- <p>Created: {{ order.upload_date |date:'dd/MM/yyyy'}}</p> -->
    <h4>Totale fatturato: {{ order.total }} &euro;</h4>

    <!-- <div *ngFor="let brand of brands">
        {{ brand }}
        <div *ngFor="let article of order.articles[brand].articles">
            <p>{{ article.desc }}</p>
            <p>&euro; {{ article.price }}</p>
        </div>
    </div> -->

    <mat-card *ngIf="brands.length>0">
        <table class="articlesTable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    <th>Ordinati</th>
                    <th>Fatturati</th>
                    <th>Totale fatturato</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let brand of brands">
                    <tr><strong>{{brand}}</strong></tr>
                    <ng-container *ngFor="let article of order.articles[brand]">
                        <tr>
                            <td>{{article.artCode}}</td>
                            <td>{{article.description}}</td>
                            <td>{{article.qtyOrdered}}</td>
                            <td>{{article.qtyFatturato}}</td>
                            <td>&euro; {{ article.totalFatturato}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>

    </mat-card>

</div>