<div>
    <form class="login-form center" (submit)="login($event, username.value, password.value)" #loginform="ngForm">
        <div>
            <div fxLayout="column">
                <div fxLayoutAlign="center" class="textUi">
                    <h2><span>Login</span></h2>
                </div>
                <mat-input-container>
                    <input matInput class="stretch" type="email" #username id="email" placeholder="Email" required autofocus>
                </mat-input-container>
                <mat-input-container>
                    <input matInput class="stretch" type="password" #password id="password" placeholder="Password" required>
                </mat-input-container>
                <div fxLayout="column" style="margin-top: 20px">
                    <button [disabled]="!loginform.form.valid" mat-button mat-raised-button color="primary" type="submit">LOGIN</button>
                </div>
            </div>
        </div>
    </form>

    <div fxLayout="column">
        <div fxLayoutAlign="center" class="textUi center" style="text-align:center;">
                Si raccomanda la fruizione tramite browser Chrome (<a href="https://www.google.it/chrome/index.html">scarica</a>).

                <p><small>v.build {{git_hash}}</small></p>
        </div>
    </div>

</div>