.login-form {
    max-width: 90%;
    width: 400px;
    md-card {
        padding: 0!important;
    }
    padding-bottom: 30px;
}

.textUi {
    color: gray;
    margin: 20px;
    align-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.stretch input {
    width: 100%;
}

md-card-content {
    padding: 25px!important;
}


.sub-text {
    margin-top: 25px;
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.login-error {
    padding: 11px 5px;
    background-color: #fff;
    color: #656565;
    font-size: 12px;
    line-height: 1.5;
    border: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
}

.icon-error {
    float: left;
    border-right: 1px solid #9E9E9E;
    display: flex;
    padding: 5px;
    margin-right: 10px;
}
