header {
  max-width: 500px;
  margin: auto;
}
#customer-form {
  max-width: 500px;
  margin: 10px auto;
}

.mat-form-field{
	width: 100%;
}


#customer-form > .mat-input-container {
  display: block;
}

