<header>
    <h3>Nuovo cliente</h3>
    <small>I dati sono salvati sul dispositivo e spediti appena ci sarà connessione</small>
</header>

<div class="inner-content">
    <form id="customer-form" #customerForm="ngForm">
        <mat-input-container>
            <input [(ngModel)]="form.name" #name="ngModel" placeholder="Ragione sociale" matInput name="name" type="text" required>
        </mat-input-container>
        <div [hidden]="name.valid || name.pristine">
            <div [hidden]="!name.hasError('required')">Il campo NOME è obbligatorio</div>
        </div>
        <mat-input-container>
            <input [(ngModel)]="form.shopName" placeholder="Insegna punto vendita" matInput name="shopName" type="text" required>
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.address" #address="ngModel" placeholder="Indirizzo" matInput name="address" type="text" required>
        </mat-input-container>
        <div [hidden]="address.valid || address.pristine">
            <div [hidden]="!address.hasError('required')">Il campo INDIRIZZO è obbligatorio</div>
        </div>
        <mat-input-container>
            <input [(ngModel)]="form.city" placeholder="Città" matInput name="city" type="text" required>
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.province" placeholder="Provincia" matInput name="province" type="text" required>
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.zipCode" placeholder="CAP" matInput name="zipCode" type="text" required>
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.telephone" #mobile="ngModel" placeholder="Telefono" maxlength="10" minlength="10" pattern="[0-9]*" matInput name="telephone" type="tel" required>
        </mat-input-container>
        <div [hidden]="mobile.valid || mobile.pristine">
            <div [hidden]="!mobile.hasError('minlength')">Il campo TELEFONO è troppo corto.</div>
            <div [hidden]="!mobile.hasError('required')">Il campo TELEFONO è obbligatorio</div>
            <div [hidden]="!mobile.hasError('pattern')">Il campo TELEFONO deve avere solo numeri</div>
        </div>
        <mat-input-container>
            <input [(ngModel)]="form.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" matInput name="email" type="email" required>
        </mat-input-container>
        <div [hidden]="email.valid || email.pristine">
            <div [hidden]="!email.hasError('required')">Il campo EMAIL è obbligatorio</div>
            <div [hidden]="!email.hasError('pattern')">Il campo EMAIL non ha un formato valido 
                <small><b>nome@abc.com</b></small>
            </div>
        </div>
        <mat-input-container>
            <input [(ngModel)]="form.url" placeholder="Sito web" matInput name="url" type="text">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.IBAN" placeholder="IBAN" matInput name="IBAN" type="text">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.VAT" placeholder="Partita IVA o Codice fiscale" matInput name="VAT" type="text" required="">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="form.contactName" placeholder="Referente punto vendita" matInput name="contactName" type="text">
        </mat-input-container>
        <mat-form-field>
          <mat-select [(ngModel)]="form.shopType" name="shopType" matInput placeholder="Tipologia punto vendita">
            <mat-option *ngFor="let st of shopTypes" [value]="st">
              {{ st }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea [(ngModel)]="form.notes" name="notes" matInput placeholder="Note"></textarea>
        </mat-form-field>

        <button [disabled]="!customerForm.form.valid" (click)="saveCustomer()" mat-raised-button color="primary">Invia</button>
    </form>
</div>