.mat-sidenav {
    width: 200px;
}

.mat-sidenav .mat-list-item.active {
    font-weight: bold;
    background: #FAFAFA;
}

.mat-sidenav-container {
    min-height: 100%;
}

#content-wrapper {
    padding: 5px 25px;
}

#top-menu-toggle {
    padding: 10px;
    border-radius: 0;
    margin: auto 20px auto -12px;
}

mat-nav-list .fa-fw{
    margin-right: 5px;
}