<mat-sidenav-container>

      <mat-sidenav #sidenav [mode]="sidenav_mode" [(opened)]="opened" >
        <mat-nav-list *ngIf="isLoggedIn()">
            <div mat-subheader>Menu</div>
            <a routerLink="/dashboard" mat-list-item routerLinkActive="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
            <a routerLink="/order/list" mat-list-item routerLinkActive="active"><i class="fa fa-tasks fa-fw"></i> Ordini</a>
            <a routerLink="/customer/list" mat-list-item routerLinkActive="active"><i class="fa fa-address-card-o fa-fw"></i> Clienti</a>
            <a routerLink="/order/new" mat-list-item routerLinkActive="active"><i class="fa fa-plus fa-fw"></i> Nuovo ordine</a>
            <a routerLink="/customer/new" mat-list-item routerLinkActive="active"><i class="fa fa-user-plus fa-fw"></i> Nuovo cliente</a>
            <a mat-list-item (click)="logOut()"><i class="fa fa-sign-out fa-fw"></i> Log-out</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" *ngIf="isLoggedIn()">
            <!-- <button mat-button id="top-menu-toggle" *ngIf="sidebar.toggle_button" (click)="sidebarEl.open()"> -->
            <button mat-button id="top-menu-toggle" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>  
            </button>
            <span id="top-logo">CM70</span>
            <span *ngIf="this.show_staging_banner">&nbsp; TEST - {{this.environment_message}}</span>
        </mat-toolbar>
        <div id="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <md-toolbar class="md-scroll-shrink">
    <div layout="row" layout-align="center center" flex>
      <small>build {{git_hash}} - {{this.environment_message}}</small>

    </div>
  </md-toolbar>
</footer>

