<div fxLayoutAlign="center">
    <div fxLayout="column">
            <h3>Sincronizzazione</h3>

            <strong>Stato connessione:</strong>
            {{onlineFlagLabel}}


            <!-- <md-card >                
                <p md-line class="demo-secondary-text">
                    count of the orders: {{totOrders}}
                </p>
                <p md-line class="demo-secondary-text">
                    count of the customers: {{totCustomers}}
                </p>            
            </md-card> -->

<!--             <md-card *ngIf="syncDate">
                <p md-line class="demo-secondary-text">
                   customer sync status: {{syncStatus}}
                </p>
                <p md-line class="demo-secondary-text">
                    last sync date: {{syncDate|date}}
                </p>
                <p md-line class="demo-secondary-text">                    
                    count of the customers to Update: {{totCustomers}}
                </p>
            </md-card>

            <md-card *ngIf="syncOrderDate">
                <p md-line class="demo-secondary-text">
                   order sync status: {{syncOrderStatus}}
                </p>
                <p md-line class="demo-secondary-text">
                    last sync date: {{syncOrderDate | date}}
                </p>
                <p md-line class="demo-secondary-text">
                    count of the orders to Update: {{totOrders}}                  
                </p>
            </md-card> -->
            
            <h4>Clienti</h4>
            Stato: {{syncCustomersStatus}}<br>
            Nuovi clienti in attesa di essere inviati: {{customersToUploadCount}} <br>
            Clienti salvati sul dispositivo: {{customersLocalCount}} <br>
            Ultima sincronizzazione: {{syncCustomersDate|date}} <br>

            <h4>Ordini</h4>
            Stato: {{syncOrderStatus}}<br>
            Nuovi ordini in attesa di essere inviati: {{ordersToUploadCount}} <br>
            Ordini salvati sul dispositivo: {{ordersLocalCount}} <br>
            Ultima sincronizzazione: {{syncOrderDate|date}} <br>

            <h4>Catalogo</h4>
            Ultima sincronizzazione {{syncCatalogDate|date}} <br>
            Stato {{syncCatalogStatus}}

            <p><small>v.build {{git_hash}}</small></p>

    </div>
</div>
