@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-orange, 800);
  $accent: mat-palette($mat-orange, 500);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


/*****/

$cm70_gold: #b5a88e;

/******/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

button {
    cursor: pointer;
}

.mat-toolbar.mat-primary{
	background-color: $cm70_gold;
	color: white;
}


.main-obj-list {
    display: flex;
    flex-wrap: wrap;
}

.main-obj-list .mat-card {
    flex-grow: 1;
}

.main-obj-list .mat-card-content>ul {
    list-style: none;
    padding: 0;
}

.ta-center {
    text-align: center;
}

.fx,
.mat-card.fx {
    display: flex;
}

.fx-ai-c {
    align-items: center;
}

.fx-ai-fe {
    align-items: flex-end;
}

.fx-jc-sb {
    justify-content: space-between;
}

.fx-fg1 {
    flex-grow: 1;
}

button.full-w-btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    padding: 6px 0;
}


mat-tab-header{
    margin-bottom: 5px;
}

table.articlesTable{
    width: 100%;
    text-align: left;
}


/**** HELPERS *****/

.center{
	margin-left: auto;
	margin-right: auto;
}