header {
  display: flex;
  max-width: 500px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.inner-content {
  max-width: 600px;
  margin: 30px auto 10px;
}
.mat-select,
.mat-input-container {
  width: 100%;
}
.mat-select {
/*  padding-bottom: 1.29688em;
  margin-top: 20px;*/
}
.mat-input-container {
  margin-top: 5px;
}
/* #total-price {
  margin: 20px auto;
  font-size: 24px;
} */
#brand-list {
  max-width: 500px;
  margin: auto;
}
#brand-list .mat-card {
  cursor: pointer;
  margin-bottom: 15px;
}
#brand-list .mat-card:hover {
  background-color: #F5F5F5;
}
#brand-list .mat-card h4 {
  margin-top: 0;
}
.brand-qty {
  font-size: 0.8rem;
  color: grey;
}
.brand-total-price {
  color: #028eff;
}
.goto-article-arrow {
  margin-left: 8%;
}
#product-quantity {
  display: flex;
}
#product-quantity > span {
  flex-grow: 1;
  text-align: center;
  font-size: 26px;
}
.add-prod {
  text-align: center;
  margin-top: 30px;
}
.confirm-item {
  margin-bottom: 10px;
}

#cartSummary{
  margin-bottom: 20px;
}

.chip{
  line-height: 30px;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 12px
}

.chip-orange{
  background-color: #F9A03F;
}
.chip-beige{
  background-color: #D7CEB2;
}
.chip-green{
  background-color: #B5CBB7;
}