<header>
    <h3>{{state_titles[state]}}</h3>
    <div *ngIf="state!=0">
        <button mat-raised-button color="primary" (click)="previousState()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    </div>
</header>

<div class="inner-content">
    <div *ngIf="state==0">

        <mat-form-field>
           <input type="text" matInput [formControl]="customerAutocomplete" [matAutocomplete]="auto" [(ngModel)]='customer'>
       </mat-form-field>

       <mat-autocomplete #auto="matAutocomplete" [displayWith]="autocompleteDisplayCustomerName">
            <mat-option *ngFor="let cust of customersAutocompleteFilteredOptions | async" [value]="cust"> 
                    {{cust.doc.name}}
            </mat-option>
      </mat-autocomplete>

        <button mat-raised-button [disabled]="!customer" (click)="goToState2()" color="primary">Avanti</button>
    </div>

    <div *ngIf="state==1">
      <h4>Seleziona gli articoli per cancellarli dallo stralcio</h4>
      <div *ngFor="let brandCode of objectKeys(articles_for_confirmation)">
            <h3>{{ brandList.getBrandByCode(brandCode).brandName }}</h3>
            <div *ngFor="let code of objectKeys(articles_for_confirmation[brandCode])" class="confirm-item fx fx-jc-sb">
                <mat-checkbox (change)="confirmArticle($event, brandCode, code)" [checked]="articles_for_confirmation[brandCode][code].confirmed">
                    <span>{{ code }} - {{ articles_for_confirmation[brandCode][code].desc }}</span>
                </mat-checkbox>
                <span>{{ articles_for_confirmation[brandCode][code].qty_requested }} pz.</span>
            </div>
        </div>
        <button mat-raised-button (click)="deletePendingArticles()" class="full-w-btn" color="primary">Avanti</button>
    </div>

    <div *ngIf="state==2">
        <div id="brand-list">
            <h4>Brand già ordinati dal cliente</h4>
            <mat-card class="fx fx-ai-c" *ngFor="let brand of brands.prev" (click)="selectBrand(brand.brandCode)">
                <div class="fx-fg1">
                    <h4>{{ brand.brandName }}</h4>
                    <div *ngIf="selected_articles[brand.brandCode]" class="fx fx-ai-fe">
                        <div class="fx-fg1 brand-qty">
                            <div>{{ selected_articles[brand.brandCode].stats.articles }} articoli nel carrello</div>
                            <div *ngIf="selected_articles[brand.brandCode].stats.pos">
                                di cui {{ selected_articles[brand.brandCode].stats.pos }} POS
                                <span *ngIf="selected_articles[brand.brandCode].stats.free_pos">
                  ({{ selected_articles[brand.brandCode].stats.free_pos }} gratuiti)
                </span>
                            </div>
                        </div>
                        <div *ngIf="selected_articles[brand.brandCode]" class="brand-total-price">
                            &euro; {{ selected_articles[brand.brandCode].stats.total }} di cui &euro; {{selected_articles[brand.brandCode].stats.pos_amount}} POS
                        </div>
                    </div>
                </div>
                <div class="goto-article-arrow"> > </div>
            </mat-card>

            <h4>Brand mai ordinati dal cliente</h4>
            <mat-card class="fx fx-ai-c" *ngFor="let brand of brands.new" (click)="selectBrand(brand.brandCode)">
                <div class="fx-fg1">
                    <h4>{{ brand.brandName }}</h4>
                    <div *ngIf="selected_articles[brand.brandCode]" class="fx fx-ai-fe">
                        <div class="fx-fg1 brand-qty">
                            <div>{{ selected_articles[brand.brandCode].stats.articles }} articoli</div>
                            <div *ngIf="selected_articles[brand.brandCode].stats.pos">
                                di cui {{ selected_articles[brand.brandCode].stats.pos }} POS
                                <span *ngIf="selected_articles[brand.brandCode].stats.free_pos">
                  ({{ selected_articles[brand.brandCode].stats.free_pos }} for free)
                </span>
                            </div>
                        </div>
                        <div *ngIf="selected_articles[brand.brandCode]" class="brand-total-price">
                            &euro; {{ selected_articles[brand.brandCode].stats.total }} di cui &euro; {{selected_articles[brand.brandCode].stats.pos_amount}} POS
                        </div>
                    </div>
                </div>
                <div class="goto-article-arrow"> > </div>
            </mat-card>

            <button mat-raised-button color="primary" class="full-w-btn" 
            [disabled]="!order.totalQty"
            (click)="nextState(4)">
        Avanti (&euro; {{ order.total }})
      </button>
        </div>
    </div>

    <div *ngIf="state==3">
        <mat-input-container>
            <span matPrefix><mat-icon>search</mat-icon></span>
            <input type="text" matInput #productFilter (keyup)="filterArticlesRx.next(productFilter.value)">
        </mat-input-container>

        <mat-tab-group>
          <mat-tab label="Ordine per riassortimento">
              
            <h4>Già ordinati dal cliente (riassortimento)</h4>
            <div *ngFor="let prod_cat of article_categories">
                <p>{{ prod_cat.title }}:</p>
                <product-quantity-select *ngFor="let art of article_list.prev[prod_cat.code]" class="article-item" [article]="art" (quantityChanged)="addArticle($event)" article_cat="{{ prod_cat.code }}">
                </product-quantity-select>
            </div>

            <h4>Mai ordinati dal cliente</h4>
            <div *ngFor="let prod_cat of article_categories">
                <p>{{ prod_cat.title }}:</p>
                <product-quantity-select *ngFor="let art of article_list.new[prod_cat.code]" class="article-item" [article]="art" (quantityChanged)="addArticle($event)" article_cat="{{ prod_cat.code }}">
                </product-quantity-select>
            </div>
          </mat-tab>
          <mat-tab label="Ordine per catalogo">
            <div *ngFor="let prod_cat of article_categories">
                <p>{{ prod_cat.title }}:</p>
                <product-quantity-select *ngFor="let art of article_list.all[prod_cat.code]" class="article-item" [article]="art" (quantityChanged)="addArticle($event)" article_cat="{{ prod_cat.code }}">
                </product-quantity-select>
            </div>
          </mat-tab>
        </mat-tab-group>


        <button mat-raised-button color="primary" class="full-w-btn" (click)="previousState()">Indietro</button>
    </div>

    <div *ngIf="state==4">
        <h4>Pagamento e spedizione ordine</h4>

            <mat-form-field>
                <mat-select placeholder="Tipologia di pagamento"  name="payment_type" [(ngModel)]='order.paymentType' required>
                    <mat-option value="125" selected="selected">RIBA 15MESE</mat-option>
                    <mat-option value="R06">RIBA FM</mat-option>
                    <mat-option value="210">RIM.DIRETTA 15MESE</mat-option>
                    <mat-option value="RD4">RIM.DIRETTA FM</mat-option>
                    <mat-option value="ASS">ASSEGNO</mat-option>
                    <mat-option value="B11">50% ancitipato + 50% assegno</mat-option>
                    <mat-option value="RI">RID</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-input-container>
                <!-- <input matInput [matDatepicker]="picker" name="shipment_date" placeholder="Shipping Date"> -->
                <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
                <input matInput [(ngModel)]="order.shippingDatePreferred" name="shipmentDate" [matDatepicker]="picker" placeholder="Data spedizione" datetime="dd/mm/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <mat-datepicker #picker touchUi="true" (selectedChanged)="setShipmentDate($event)"></mat-datepicker> -->
            </mat-input-container>

            <mat-form-field>
                <mat-select placeholder="Indirizzo di spedizione" [(ngModel)]="order.shippingAddress"  name="shippingAddress">
                    <mat-option value="{{selected_customer.address}} {{selected_customer.city}} (codice:XXX)" selected="selected">
                        Sede legale ({{selected_customer.address}} - {{selected_customer.city}})
                    </mat-option>
                    <mat-option *ngFor="let addr of selected_customer.shippingAddresses" value="{{addr.address}} {{addr.city}} (codice:{{addr.addressId}})">
                        {{addr.address}} - {{addr.city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

              <mat-form-field>
                <textarea matInput placeholder="note" [(ngModel)]='order.note'></textarea>
              </mat-form-field>


            <h4>Riepilogo articoli selezionati</h4>

            <div id="cartSummary" *ngFor="let iter_brand of selected_articles_summary">
                <h5>{{iter_brand.brandName}}</h5>
                <div *ngFor="let iter_article of iter_brand.articles">
                    {{iter_article.desc}}
                    <span class="chip chip-green">n. {{iter_article.qty_requested}} </span>
                </div>
            </div>
            

            <button
                [disabled]="!order.shippingAddress"
                mat-raised-button color="primary" class="full-w-btn" (click)="saveOrder()">
                Invia l'ordine (&euro; {{ order.total }})
            </button>

    </div>

    <div *ngIf="state==5">
        <h3>attendere....</h3>
    </div>
</div>